In [3]:
#Basic Data Types

a = 5

b = 'Hello'
c = 6.0
d = [1,2,3]
e = (1,2,3)
f = {5,2,3,1,4}
d = {1:'value','key':2}

print(a, "is of type", type(a))
print("operations on numbers")
print(a + 1)
print(a -1)
print(b, "is of type", type(b))
print("operations on Strings")
print(b ,"Pooja")
print()
print(c, "is of type", type(c))
print(d, "is of type", type(d))
print(e, "is of type", type(e))
print(f, "is of type", type(f))
print(d, "is of type", type(d))

5 is of type <class 'int'>
operations on numbers
6
4
Hello is of type <class 'str'>
operations on Strings
Hello Pooja
6.0 is of type <class 'float'>
{1: 'value', 'key': 2} is of type <class 'dict'>
(1, 2, 3) is of type <class 'tuple'>
{1, 2, 3, 4, 5} is of type <class 'set'>
{1: 'value', 'key': 2} is of type <class 'dict'>

In [27]:
#Python Dictionary

d = {1:{'One','Two'print(1,2,3,4)},2:'Two'}

print(d[1])
print(d[2])

{'Two', 'One'}
Two

In [21]:
#The map(aFunction, aSequence) function applies a passed-in function to each item in an 
#iterable object and returns a list containing all the function call results.

items = [1, 2, 3, 4, 5]
def sqr(x): return x ** 2
list(map(sqr, items))

[1, 4, 9, 16, 25]

In [28]:
print(1,2,3,4)

1 2 3 4

In [31]:
 import webbrowser
    
webbrowser.open("https://www.youtube.com/watch?v=GBz-pwTyxtA")

True